@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Inknut+Antiqua|Lobster|Metamorphous|Playfair+Display:700');

body {
    font-family: 'Droid Serif', serif;
}
#gameDiv {
    display: inline-flex;
    border: 2px solid #cbcbcb;
}
