@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Inknut+Antiqua|Lobster|Metamorphous|Playfair+Display:700');

body {
    font-family: 'Droid Serif', serif;
    background-color: #34363b!important;
}

.formWrapper {
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
}

#createProfile {
    border: 2px solid #ccc;
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    width: 500px;
}

.formTitle {
    font-family: Metamorphous, cursive;
    font-weight: bold;
}

.createTable {
    width: 90%;
}

.createTable td {
    padding: 5px;
}

.createTable label {
    text-align: right;
    width: 100%;
}

#avatar-td {
    text-align: right;
}

#resetWrapper{
    margin: 0 auto;
    display: none;
}

.resetText {
    margin-top: 20px;h
    text-align: center;
    font-weight: bold;
    color: #ff6b6b;
    background-color: #33393c;
    border: #ccc solid 1px;
    border-width: 1px 0;
    text-align: center;
}

#showReset {
    color: #ff6b6b;
}

#showReset:hover {
    text-decoration: none;
    cursor: pointer;
}