@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Inknut+Antiqua|Lobster|Metamorphous|Playfair+Display:700');

body {
    font-family: 'Droid Serif', serif;
}
.leftcol {
    width:170px;
    height:auto;
    float:left;
}

#source {

}

.buildingName {
    font-family: Metamorphous, cursive;
    color: white;
}

#floorsTable {
    width: 100%;
}

.floorWrapper {
    text-align: center;
}

.floor {
    background-color: white;
    color: black;
    display: block;
    width: 100%;
    padding: 20px;
    border: 2px solid #cbcbcb;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
}

.floor:hover {
    cursor: pointer;
    border-color: #add8e6;
    text-decoration: none;
}

.success {
    background-color: #beffbe;
    border-radius: 5px 5px 0 0;
}

.failed {
    background-color: #ff7272;
    border-radius: 5px 5px 0 0;
}

.loading {
    width: 24px;
    height: 24px;
}

#btn_execute {
    font-weight: bold;
    margin: 20px;
}
