@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Inknut+Antiqua|Lobster|Metamorphous|Playfair+Display:700');

body {
    font-family: 'Droid Serif', serif;
}
.wood-bg {
    background-image: url('../images/taverna.jpg');
    background-position: 0px 0px, 0px 0px;
    background-size: auto, 776px;
}